<assignment
    id="FINAL"
    title = "Final Report & Reflection "
    due_at = "{{ Last_Day_Of_Classes }}, {{ Year }}, 11:59 PM"
    available_from="{{ Sem_Start }}, {{ Year }}, 12:00 AM"
    available_to="{{ Last_Day_Of_Classes }}, {{ Year }}, 11:59 PM"
    allowed_attempts="-1"
    assignment_group="Final"
    points_possible="30"
    submission_types="online_upload"
    allowed_extensions="docx, pdf"
    published="true"
>
    <include path="../../final.md" lines="3:33" usediv="False"/>
</assignment>
