<div>
    <include path="progress_reports/progress_reports.md.xml.jinja"
             args="progress_reports/progress_reports-args.md.jinja" />
    <include path="reflections/reflections.md.xml.jinja"
             args="reflections/reflections-args.md.jinja" />
    <include path="final/final_reflection.md.xml.jinja"/>
</div>