<div>
    <include path="progress_reports/progress_reports.md.xml.jinja"
             args="progress_reports/progress_reports-args.md.jinja" />
    <include path="reflections/reflections.md.xml.jinja"
             args="reflections/reflections-args.md.jinja" />
    <include path="final/final_reflection.md.xml.jinja"/>
    <include path="pages/pages.md.xml.jinja"
             args="pages/pages-args.md.jinja" />

    <module id="week-1" title="Week 1">
        <item type="page" content_id="P_Intro" />
        <item type="page" content_id="P_OpenSource" />
    </module>

    <module id="week-2" title="Week 2">
        <item type="page" content_id="P_OpenSource" />
        <item type="page" content_id="P_Mentoring" />
        <item type="page" content_id="P_Mentee" indent="1"/>
        <item type="page" content_id="P_Mentor" indent="1"/>
        <item type="page" content_id="P_Communication" />
        <item type="quiz" content_id="PR_2" />
    </module>

    <module id="week-3" title="Week 3">
        <item type="assignment" content_id="R_Project" />
        <item type="assignment" content_id="R_Mentor" />
        <item type="quiz" content_id="PR_3" />
    </module>

    <module id="week-4" title="Week 4">
        <item type="page" content_id="P_Curious" />
        <item type="page" content_id="P_LearningPlan" />
        <item type="quiz" content_id="PR_4" />
    </module>

    <module id="week-5" title="Week 5">
        <item type="assignment" content_id="R_Communication" />
        <item type="page" content_id="P_Investigating" />
        <item type="quiz" content_id="PR_5" />
    </module>

    <module id="week-6" title="Week 6">
        <item type="assignment" content_id="R_LearningPlan" />
        <item type="page" content_id="P_Collaborative" />
        <item type="page" content_id="P_Issues" />
        <item type="quiz" content_id="PR_6" />
    </module>

    <module id="week-7" title="Week 7">
        <item type="assignment" content_id="R_Investigating" />
        <item type="page" content_id="P_CodeReview" />
        <item type="quiz" content_id="PR_7" />
    </module>

    <module id="week-8" title="Week 8">
        <item type="assignment" content_id="R_IssueTracking" />
        <item type="page" content_id="P_Creativity" />
        <item type="page" content_id="P_CPS" />
        <item type="quiz" content_id="PR_8" />
    </module>

    <module id="week-9" title="Week 9">
        <item type="assignment" content_id="R_Repositories" />
        <item type="page" content_id="P_Capable" />
        <item type="page" content_id="P_Debugging" />
        <item type="quiz" content_id="PR_9" />
    </module>

    <module id="week-10" title="Week 10">
        <item type="assignment" content_id="R_ProblemSolving" />
        <item type="quiz" content_id="PR_10" />
    </module>

    <module id="week-11" title="Week 11">
        <item type="assignment" content_id="R_Debugging" />
        <item type="quiz" content_id="PR_11" />
    </module>

    <module id="week-12" title="Week 12">
        <item type="quiz" content_id="PR_12" />
    </module>

    <module id="week-13" title="Week 13">
        <item type="quiz" content_id="PR_13" />
    </module>

    <module id="week-14" title="Week 14">
        <item type="quiz" content_id="PR_14" />
    </module>

    <module id="week-15" title="Week 15">
        <item type="assignment" content_id="FINAL" />
    </module>

    <module id="finals" title="Finals">
    </module>

</div>

{#        <item type="page" content_id="" />#}
