div.note p,
div.important p,
div.warning p,
div.tip p,
div.caution p {
  margin-top: 0.5rem;
  max-width: none;
}

div.note {
  border-left-color: oklch(62.3% 0.214 259.815);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong.note {
  color: oklch(62.3% 0.214 259.815);
  font-size: 115%;
}

div.important {
  border-left-color: oklch(62.7% 0.265 303.9);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong.important {
  color: oklch(62.7% 0.265 303.9);
  font-size: 115%;
}

div.warning {
  border-left-color: oklch(79.5% 0.184 86.047);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong.warning {
  color: oklch(79.5% 0.184 86.047);
  font-size: 115%;
}

div.tip {
  border-left-color: oklch(72.3% 0.219 149.579);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong.tip {
  color: oklch(72.3% 0.219 149.579);
  font-size: 115%;
}

div.caution {
  border-left-color: oklch(63.7% 0.237 25.331);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong.caution {
  color: oklch(63.7% 0.237 25.331);
  font-size: 115%;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: 1.25rem;
}

.flex {
  display: flex;
}

.gap-x-4 {
  column-gap: 1rem;
}

.object-contain {
  object-fit: contain;
}

.w-full {
  width: 100%;
}

.w-3-4 {
  width: 75%;
}

.w-1-2 {
  width: 50%;
}

.w-1-3 {
  width: 33%;
}

.w-2-3 {
  width: 66%;
}

.w-1-4 {
  width: 25%;
}

.h-25vh {
  height: 25vh;
}

.text-left {
  text-align: left;
}

.mx-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table,
.table {
  border-collapse: separate;
  border-spacing: 0;
  display: table;
  table-layout: auto;
}

.table-fixed {
  border-collapse: separate;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
}

table.no-gap td,
table.no-gap th {
  border-bottom: none;
}

table.no-gap td + td,
table.no-gap th + th {
  padding-left: 0;
}

.table > thead {
  background: #fff;
}

table.highlighttable td {
  border-bottom: unset;
}

table td,
table th {
  border-bottom: 1px solid black;
}

table td + td,
table th + th {
  padding-left: 1.5rem;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.odd td {
  vertical-align: middle;
}

.text-blue-500 {
  color: oklch(62.3% 0.214 259.815);
}

.text-green-500 {
  color: oklch(72.3% 0.219 149.579);
}

.text-red-500 {
  color: oklch(63.7% 0.237 25.331);
}

.text-black {
  color: #000;
}

div.zip {
  display: block;
  padding: 25px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  color: black;
  text-align: left;
  padding: 1.5em;
}

summary {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.linenodiv pre {
  line-height: 125%;
}

span.kbd {
  font-family: monospace;
  border: 1px solid #ccc;
  font-size: 0.75em;
  border-radius: 6px;
  padding: .125rem .25rem;
  color: #000
}

span.dp-header-title {
  margin-top: 5px;
  padding-top: 12px;
}

span.filename {
  display: block;
  background: #e0e0e0;
  padding: 4px 8px;
  border-radius: 6px 6px 0 0;
  font-family: monospace;
  font-size: .75rem;
}

span.filename + pre,
span.filename + pre code {
  border-radius: 0 0 6px 6px;
}
