| Id              | Title                                                   | MD                                                     | Date           |
|-----------------|---------------------------------------------------------|--------------------------------------------------------|----------------|
| P_Intro         | Open Source Project Course Introduction                 | ../../README.md                                        | {{ D_Intro }}  |
| P_OpenSource    | Introduction to Open Source Software (OSS)              | ../../modules/introduction/README.md                   | {{ D_OpenSource }} |
| P_Mentoring     | Mentoring                                               | ../../mentoring/README.md                              | {{ D_OpenSource }} |
| P_Mentee        | Mentoring Expectations for Students                     | ../../mentoring/mentees.md                             | {{ D_OpenSource }} |
| P_Mentor        | Mentoring Expectations for Mentors                      | ../../mentoring/mentors.md                             | {{ D_OpenSource }} |
| P_Communication | Technical Communication and Writing Good Documentation  | ../../modules/capable/communication.md                 | {{ D_Communication }} |
| P_Curious       | Curiosity and Lifelong Learning in Software Engineering | ../../modules/curious/README.md                        | {{ D_LearningPlan }} |
| P_LearningPlan  | Learning to Learn                                       | ../../modules/curious/learning.md                      | {{ D_LearningPlan }} |
| P_Investigating | Investigating Code                                      | ../../modules/curious/investigating-code.md            | {{ D_Investigating }} |
| P_Collaborative | Collaboration                                           | ../../modules/collaborative/README.md                  | {{ D_Issues }} |
| P_Issues        | Bugs, Bug Reporting and Triage                          | ../../modules/collaborative/bug-reports.md             | {{ D_Issues }} |
| P_CodeReview    | Managing Code and Participating in Code Review          | ../../modules/collaborative/repositories-and-review.md | {{ D_CodeReview }} |
| P_Creativity    | Creativity                                              | ../../modules/creative/README.md                       | {{ D_CPS }} |
| P_CPS           | Creative Problem Solving                                | ../../modules/creative/cps.md                          | {{ D_CPS }} |
| P_Engineering   | Creative Problem Solving and Software Engineering       | ../../modules/creative/applying-in-engineering.md      | {{ D_Engineering }} |
| P_Capable       | Capable                                                 | ../../modules/capable/README.md                        | {{ D_Debugging }} |
| P_Debugging     | Debugging Tools and Techniques                          | ../../modules/capable/debugging.md                     | {{ D_Debugging }} |
| P_Projects      | Possible Open Source Projects                           | ../../modules/introduction/possible-projects.md        |                |

