{% for p in args %}
<page
    id="{{ p['Id'] }}"
    title="{{ p['Title'] }}"
    {% if p["Date"]%}
    student_todo_at="{{ p["Date"] }}, {{ Year }}, 1:00 PM"
    {% endif %}
>

    <include path="{{ p['MD'] }}" lines="2:" usediv="false"/>

</page>

{% endfor %}