| Id             | Title                        | Instructions_Path                                      | Lines   | Due_Date               |
|----------------|------------------------------|--------------------------------------------------------|---------|------------------------|
| Project        | Project Selection            | ../../modules/introduction/README.md                   | 81:87   | {{ R_Project }}        |
| Mentor         | Mentor Selection             | ../../mentoring/README.md                              | 62:66   | {{ R_Mentor }}         |
| Communication  | Technical Communication      | ../../modules/capable/communication.md                 | 75:80   | {{ R_Communication }}  |
| LearningPlan   | Learning Plan                | ../../modules/curious/learning.md                      | 84:90   | {{ R_LearningPlan }}   |
| Investigating  | Investigating Code           | ../../modules/curious/investigating-code.md            | 218:223 | {{ R_Investigating }}  |
| IssueTracking  | Issue Tracking               | ../../modules/collaborative/bug-reports.md             | 147:153 | {{ R_IssueTracking }}  |
| Repositories   | Repositories & Code Review   | ../../modules/collaborative/repositories-and-review.md | 130:137 | {{ R_Repositories }}   |
| ProblemSolving | Creative Problem Solving     | ../../modules/creative/cps.md                          | 161:166 | {{ R_ProblemSolving }} |
| Debugging      | Debugging Tools & Techniques | ../../modules/capable/debugging.md                     | 81:85   | {{ R_Debugging }}      |
| Mentoring      | Mentoring Experience         | ../../mentoring/README.md                              | 69:75   | {{ Last_Day_Of_Classes }} |

